@import "tailwindcss";
@import "tailwindcss-primeui";

body {
  font-family: 'Varta', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0.8rem 0;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}
